:root {
	--navy: #2d3945;
	--white: #fff;
	--grey: #eff0f1;
	--offBlack: #0b0b0b;
	/* font-size */
	--sm-fs: 14px;
	--md-fs: 15px;
	--base-fs: 16px;
	--lg-fs: 18px;
	--xl-fs: 20px;
}
@media screen and (min-width: 768px) {
	:root {
		--sm-fs: 15px;
		--med-fs: 16px;
		--base-fs: 18px;
		--lg-fs: 20px;
		--xl-fs: 22px;
	}
}
/* reset styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Merriweather", serif;
	color: var(--navy);
	font-size: 16px;
}

/* Utility classes */
.bg-navy {
	background-color: var(--navy);
}
.bg-grey {
	background-color: var(--grey);
}
.color-white {
	color: var(--white);
}
.gap10 {
	gap: 10px;
}
.gap30 {
	gap: 30px;
}
.flex {
	display: flex;
}
.grid {
	display: grid;
}
.hide {
	display: none;
}
.flex-col {
	flex-direction: column;
}
.align-self-center {
	align-self: center;
}
.jc-between {
	justify-content: space-between;
}
.margin-auto {
	margin: auto;
}
.uppercase {
	text-transform: uppercase;
}
.block {
	display: block;
}
.w100 {
	width: 100%;
}
.text-align-center {
	text-align: center;
}
.hr-cont {
	margin: 10px auto 20px;
	max-width: 800px;
}
hr {
	border: none;
	height: 1px;
	background-color: #0b0b0b;
}
.hr-thick {
	height: 3px;
	background-color: #0b0b0b;
	border: none;
	margin: 2px 0;
}

/* header */
header {
	padding: 30px;
}
header p {
	font-size: var(--xl-fs);
	font-weight: 700;
}
/* main */
main {
	padding: 20px 20px 0;
	max-width: 800px;
}
.intro-cont p {
	font-size: var(--md-fs);
}
h1 {
	font-size: var(--xl-fs);
	margin-bottom: 6px;
}
/* form */
h2 {
	font-size: var(--xl-fs);
}
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
button {
	width: 100%;
	border: none;
	padding: 15px 0;
	margin: 20px 0 0;
	background-color: #4ebbb5;
	color: var(--white);
	font-family: "Merriweather", serif;
	font-weight: 700;
	border-radius: 2px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}
button:hover {
	background-color: #46698b;
}
.form-row {
	display: flex;
	flex-direction: column;
	margin: 20px auto;
}

textarea {
	resize: none;
	border: none;
	border-radius: 2px;
}
.form-row input,
select {
	height: 44px;
	background-color: var(--grey);
	border: none;
	padding-left: 10px;
	border-radius: 2px;
}
input::placeholder {
	text-align: end;
	padding-right: 20px;
	font-style: italic;
	color: rgb(157, 157, 157);
}
select {
	appearance: none;
	background-image: url("/images/select-arrows.png");
	background-repeat: no-repeat;
	background-position: 95%;
	font-family: "Merriweather", serif;
	color: var(--offBlack);
}

select:invalid {
	color: rgb(157, 157, 157);
}
.text-label {
	margin-bottom: 10px;
	font-weight: 300;
	font-size: var(--md-fs);
}
input {
	font-family: "Merriweather", serif;
}
input,
select,
textarea {
	/* used for smoother transition */
	outline: transparent solid 2px;
	border-radius: 2px;
	transition: all 0.4s ease;
}
input:focus,
select:focus,
textarea:focus {
	outline: #46698b solid 2px;
	border-radius: 2px;
}
.intro-cont {
	padding: 20px 20px 5px;
	background-color: #46698b;
	color: var(--white);
}
.zip-code-cont input {
	width: 50%;
}
.newsletter-h2 {
	padding-top: 20px;
}
.news-sub {
	padding: 20px 0 15px;
}
.checkbox-cont,
.radio-cont {
	padding: 5px 0;
}
textarea {
	padding: 10px 20px;
	font-family: "Merriweather", serif;
	width: 100%;
}
.news-sub,
.news-label {
	font-weight: 300;
	font-size: var(--md-fs);
}
footer {
	padding: 20px 20px 100px;
	text-align: center;
}
footer p {
	font-size: var(--sm-fs);
	font-style: italic;
	color: rgb(157, 157, 157);
}
@media screen and (min-width: 768px) {
	.hr-cont {
		margin: 50px auto 30px;
	}
	main {
		padding: 40px 20px 30px;
	}
	.form-row {
		flex-direction: row;
	}
	.form-row input,
	select {
		max-width: 600px;
		margin-left: auto;
		width: 100%;
		flex: 1;
	}
	.text-label {
		margin: 0;
		align-self: center;
	}
	.zip-code-cont input {
		max-width: 25%;
		margin-left: 97px;
	}
}
