:root {
	--navy: #2d3945;
	--white: #fff;
	--offBlack: #0b0b0b;
	/* font-size */
	--sm-fs: 14px;
	--md-fs: 15px;
	--base-fs: 16px;
	--lg-fs: 18px;
	--xl-fs: 20px;
}
@media screen and (min-width: 768px) {
	:root {
		--sm-fs: 15px;
		--med-fs: 16px;
		--base-fs: 18px;
		--lg-fs: 20px;
		--xl-fs: 22px;
	}
}
/* reset styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Merriweather", serif;
	color: var(--brown);
	font-size: 16px;
}

/* Utility classes */
.bg-navy {
	background-color: var(--navy);
}
.color-white {
	color: var(--white);
}
.gap10 {
	gap: 10px;
}
.gap30 {
	gap: 30px;
}
.flex {
	display: flex;
}
.grid {
	display: grid;
}
.hide {
	display: none;
}
.flex-col {
	flex-direction: column;
}
.jc-between {
	justify-content: space-between;
}
.margin-auto {
	margin: auto;
}
.uppercase {
	text-transform: uppercase;
}
.block {
	display: block;
}
.w100 {
	width: 100%;
}
.text-align-center {
	text-align: center;
}
hr {
	border: none;
	height: 1px;
	background-color: #0b0b0b;
}
.hr-thick {
	height: 3px;
	background-color: #0b0b0b;
	border: none;
	margin: 2px 0;
}

/* header */
header {
	padding: 30px;
}
header p {
	font-weight: 700;
}
/* main */
main {
	padding: 0 20px;
}
/* form */
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
